#main {
	position: absolute;
	width: 300px;
	height: 250px;
	left: 0;
	top: 0;
	overflow: hidden;
	cursor: pointer;
}

#background_texture {
	position: absolute;
	width: 400px;
	height: 584px;
	left: 0;
	bottom: 0;
	background-image: url(../images/background_texture.jpg);
	z-index: 0;
}

#flower {
	position: absolute;
	width: 240px;
	height: 268px;
	left: 30px;
	top: -85px;
	z-index: 15;
	background-image: url(../images/flower.png);
	opacity: 0;
}

#cta {
	position: absolute;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	bottom: 16px;
	z-index: 25;
	font-family: lato, sans-serif;
	font-size: 12px;
	color: white;
	border: solid 1px white;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding: 4px 12px 4px 12px;
	background-color: #00b0db;
	-webkit-font-smoothing: antialiased;
}

#logo {
	position: absolute;
	width: 222px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	opacity: 0;
	top: 122px;
	z-index: 100;
}

#logo_shadow {
	position: absolute;
	width: 300px;
	height: 250px;
	background-image: url(../images/logo_shadow.png);
	z-index: 90;
	opacity: 0;
}

#frame1_text1 {
	position: absolute;
	width: 300px;
	top: 150px;
	left: 0;
	text-align: center;
	color: white;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	-o-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	font-family: 'Cinzel', serif;
	font-size: 34px;
	line-height: 35px;
	text-shadow: 0px 0px 10px #303e21;
	z-index: 30;
}

#frame2_text {
	position: absolute;
	width: 300px;
	z-index: 40;
	top: 130px;
	left: 0;
}

#frame2_text1 {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #303e21;
	font-family: lato, serif;
	font-size: 10px;
	letter-spacing: 5.2px;
}

#frame2_line {
	position: absolute;
	width: 240px;
	height: 0.5px;
	top: 10px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	background-color: #303e21;
	border: none;
	opacity: 0;
}

#frame2_text2 {
	position: absolute;
	width: 100%;
	top: 28px;
	text-align: center;
	color: #303e21;
	font-family: lato, serif;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 16px;
	font-style: italic;
}
