.about {
  background-color: #333333;

  .column {
    z-index: 1;
    display: inline-flex;
    @media only screen and (max-width: 777px) {
      flex-direction: column;
    }

    .skills {
      flex: 1;
      opacity: 0;
    }

    .about-text {
      position: relative;
      flex: 2;
      opacity: 0;

      .geometric-me {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        z-index: -1;
        opacity: 0;
      }

      a {
        color: white;
        font-weight: bold;
        transition: 0.2s;
        text-decoration: none;
        border-bottom: 0px solid white;
      }

      a:hover {
        color: #CCFF00;
        border-bottom: 1px solid #CCFF00;
      }

      p {
        line-height: 20px;
      }
    }

    article {
      flex: 1;
      @media only screen and (max-width: 777px) {
        min-width: 100%;
      }

      .me {
        max-width: 60px;
        margin-right: 10px;
        margin-bottom: 5px;
      }

      .skill-list {
        list-style-type: none;

        li {
          position: relative;
          margin-bottom: 30px;
          opacity: 0;

          .skill-bar-back {
            position: absolute;
            top: 25px;
            left: 0;
            width: 100%;
            height: 15px;
            z-index: 0;
            position: absolute;
            background-color: black;
            border-radius: 7px;
            box-shadow: 5px 5px 10px rgba(#27003e, 0.4);
            transform-origin: left;
          }

          .skill-bar-front {
            position: absolute;
            top: 25px;
            left: 0;
            max-width: 100%;
            height: 15px;
            z-index: 1;
            // background: linear-gradient(42deg, #5100c6, #ff0073, #ffd600);
            border-radius: 7px;
            transform-origin: left;
          }
        }

        .skill-level-1 .skill-bar-front {
          width: 10%;
        }

        .skill-level-2 .skill-bar-front {
          width: 20%;
        }

        .skill-level-3 .skill-bar-front {
          width: 30%;
        }

        .skill-level-4 .skill-bar-front {
          width: 40%;
        }

        .skill-level-5 .skill-bar-front {
          width: 50%;
        }

        .skill-level-6 .skill-bar-front {
          width: 60%;
        }

        .skill-level-7 .skill-bar-front {
          width: 70%;
        }

        .skill-level-8 .skill-bar-front {
          width: 80%;
        }

        .skill-level-9 .skill-bar-front {
          width: 90%;
        }

        .skill-level-10 .skill-bar-front {
          width: 100%;
        }
      }
    }

    article:last-child {
      @media only screen and (min-width: 777px) {
        border-left: 2px dashed black;
        padding-left: 75px;
      }
    }

    article:not(:last-child) {
      margin-right: 80px;
      @media only screen and (max-width: 777px) {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 0;
  }
}
