.animated-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  mix-blend-mode: hard-light;
  z-index: 0;

  .bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    @media only screen and (max-width: 777px) {
      width: 100px;
      height: 100px;
    }
    background: linear-gradient(45deg, #CCFF00, #00CCFF);
    background-size: contain;
    border-radius: 50%;
    transform-origin: top left;
  }
}