.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}