.image-carousel {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(42deg, #ccff00c8, #00ccffbe);
  animation: animateIn 1s;
  z-index: 1;
  justify-content: center;
  align-items: center;

  img {
    height: 90%;
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    font-size: 24px;
    font-weight: bolder;
    background-color: white;
    color: #00CCFF;
  }

  .close-button:hover {
    transform: scale(1.1);
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}