.project-grid {
  display: flex;
  position: relative;
  list-style-type: none;
  flex-wrap: wrap;
  min-width: 100%;

  li {
    position: relative;
    display: inline-flex;
    width: 25%;
    height: 220px;
    @media only screen and (max-width: 777px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      height: 150px;
    }
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(42deg, #CCFF00, #FF00CC);
    cursor: pointer;
    transform-origin: bottom;

    h4 {
      padding-bottom: 50px;
      border-bottom: 30px solid white;
      opacity: 0;
      z-index: 1;
      transition: 0.2s;
    }

    .background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: 0.2s;
      z-index: 0;
    }

    .click-area {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 100;
    }
  }

  li:hover {
    h4 {
      opacity: 1;
      padding-bottom: 3px;
      border-bottom: 10px solid white;
    }

    .background {
      opacity: 0;
      background-position: 0px 50px;
    }

    .click-area {
      display: block;
    }
  }
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;

  .project-text {
    position: relative;
    width: 50%;
    @media only screen and (max-width: 777px) {
      width: 100%;
    }
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(#d4ff00, 0.5);

    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      font-size: 42px;
      @media only screen and (max-width: 777px) {
        font-size: 35px;
      }
      text-transform: uppercase;
      color: #fafafa;
    }

    p {
      color: #fafafa;

      a {
        color: white;
        font-weight: bold;
        transition: 0.2s;
      }

      a:hover {
        border-bottom: 4px solid white;
        text-decoration: none;
      }
    }

    .tools {
      list-style-type: none;
      margin-bottom: 20px;
      font-size: 10px;
      font-weight: bold;
      color: #cccccc;

      li {
        display: inline;
      }

      li:not(:last-child):after {
        content: " | ";
        color: #b3b3b3;
        opacity: 0.7;
      }
    }
  }

  .project-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-gap: 0.2rem;
    margin-bottom: 20px;

    .project-images-item {
      width: 70px;
      height: 70px;
      overflow: hidden;
      cursor: pointer;

      img {
        max-width: 100%;
        transition: 0.1s;
      }
    }

    .project-images-item:hover {
      img {
        transform: scale(1.3);
      }
    }

    .project-images-item.active {
      img {
        transform: scale(1.3);
        opacity: 0.5;
      }
    }
  }

  @media only screen and (max-width: 777px) {
    .project-images{
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      grid-gap: 0.2rem;

      .project-images-item {
        width: 60px;
        height: 60px;
      }
    }
  }

  .project-controls {
    display: flex;
    margin-top: 20px;
    opacity: 0.8;

    div {
      height: 30px;
      margin-right: 25px;
      @media only screen and (max-width: 777px) {
        height: 50px;
      }
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    div:hover {
      animation: expand 0.4s;
    }
  }

  .project-extra {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-weight: bolder;
    opacity: 0.4;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
