.projects {
  background-color: #454545;
  background-image: linear-gradient(42deg, #e3e3e3, #9c9c9c);
  opacity: 0;
  transition: background-color 0.6s ease;

  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;

    h2 {
      font-weight: normal;
    }

    h3, h2 {
      color: #FAFAFA;
    }
  }

  .project-three-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
    opacity: 0;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.projects.loading {
  background-image: none;
}

.projects.project-open {
  background-image: none;
  background-color: #2a1a3d;
}
