body {

}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 970px;
  height: 250px;
  z-index: 1000;
  cursor: pointer;
}

.main-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 970px;
  height: 250px;
}
