* {
	box-sizing: border-box;
}

#main {
	position: absolute;
	width: 300px;
	height: 600px;
	left: 0;
	top: 0;
	z-index: 100;
	background:#bc84ca;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #ccc;
}

#headline{
	visibility:hidden;
	position:absolute;
	width: 235px;
	height: 62px;
	left: 32.5px;
	top: 32.5px;
	background-image:url(../images/headline.png)
}

#frame1 {
	visibility:hidden;
}

#frame2 {
	visibility:hidden;
}

#frame3 {
	visibility:hidden;
}

#frame4 {
	visibility:hidden;
}

#endFrame{
	visibility:hidden;
}

#frame1_image{
	position:absolute;
	width: 300px;
	height: 600px;
	background-image:url(../images/image01.png);
}

#frame2_image{
	position:absolute;
	width: 300px;
	height: 600px;
	background-image:url(../images/image02.png);
}

#frame3_image{
	position:absolute;
	width: 300px;
	height: 600px;
	background-image:url(../images/image03.png);
}

#frame4_image{
	position:absolute;
	width: 300px;
	height: 600px;
	background-image:url(../images/endCopy.png);
}

#black{
	visibility:hidden;
	position:absolute;
	width: 300px;
	height: 600px;
	background-color:#000000;
}

#endFrame_image{
	position:absolute;
	width: 300px;
	height: 600px;
	background-image:url(../images/endFrame.jpg);
}

#CMNumber{
	position:absolute;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:9px;
	bottom: 9px;
	left: 9px;
}
