@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
$my-color: #CCFF00;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  color: white;

  .column {
    position: relative;
    padding: 120px 40px;
    @media only screen and (max-width: 600px) {
      padding: 60px 30px;
    }
    width: 100%;
    max-width: 1080px;
    overflow: hidden;

    h3 {
      padding: 0;
      margin: 0;
      padding-bottom: 40px;
      font-size: 22px;
      text-transform: uppercase;
      font-family: 'Exo', sans-serif;
    }

    p {
      font-size: 16px;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

p:not(:last-child) {
  margin-bottom: 15px;
}
